doctype xml
feed( xmlns='http://www.w3.org/2005/Atom', xml:lang='en')

    link( href= url, rel='self' )
    //updated= moment().format("YYYY-MM-DDTHH:mm:ssZ")
    title {{ project.name }}

    //each feed, i in myFeeds
    //    entry
    //        title!= feed.title
    //        id= feed.id
    //        updated= moment(feed.date).format("YYYY-MM-DDTHH:mm:ssZ")