doctype xml
rss( version="2.0", xmlns:content="http://purl.org/rss/1.0/modules/content/", xmlns:atom='http://www.w3.org/2005/Atom')
    channel
        title {{ project.name }}
        description {{ project.description }}
        link {{ url_for('posts.index', community_url=project.url, _external=True) }}

        | {% for post in posts['_items'] %}
        item
            title {{ post.name }}
            guid( isPermaLink="true" ) {{ post._id }}
            updated = {{ post._updated }}
        | {% endfor %}